<!doctype html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      /*       * Style tweaks       * --------------------------------------------------       */
      body {
        padding-top: 70px;
      }
      footer {
        padding-left: 15px;
        padding-right: 15px;
      }
      /*       * Off Canvas       * --------------------------------------------------       */
      @media screen and(max-width: 768px) {
        .row-offcanvas {
          position: relative;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
        }
        .row-offcanvas-right .sidebar-offcanvas {
          right: -50%;
          /* 6 columns */
        }
        .row-offcanvas-left .sidebar-offcanvas {
          left: -50%;
          /* 6 columns */
        }
        .row-offcanvas-right.active {
          right: 50%;
          /* 6 columns */
        }
        .row-offcanvas-left.active {
          left: 50%;
          /* 6 columns */
        }
        .sidebar-offcanvas {
          position: absolute;
          top: 0;
          width: 50%;
          /* 6 columns */
        }
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Technology Grows</a>
      <div class="nav-collapse">
		<% if(dataSet.authenticatedUser === true) { %>
        <ul class="nav">
          <li class=""><a href="/user/home"><i class="icon-home icon-white"></i> Dashboard</a></li>
          <li><a href="/courses">Course Search</a></li>
          <li><a href="/courses/all">View All Courses</a></li>
        </ul>
		<ul class="nav pull-right">
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><a href="/user/logout">Logout</a></li>
		    </ul>
		  </li>
		</ul>		
		<% } else { %>
        <ul class="nav">
          <li class=""><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
          <li><a href="/courses">Course Search</a></li>
          <li><a href="/courses/all">View All Courses</a></li>
        </ul>
		<ul class="nav pull-right">
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login/Register <b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><a href="/user/login">Login</a></li>
		      <li><a href="/user/register">Register</a></li>
		    </ul>
		  </li>
		</ul>
		<% } %>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->




    <div class="container">
      <div class="row">
			<div class="span4">
				<p>
					<img src="<%= dataSet.course.imageURL %>" />
				</p>
				<p>
					<b>Instructor:</b>&nbsp;<%=: dataSet.course.author.authorName | capitalize %>
				</p>
				<p>
					<b>Course Type:</b>&nbsp;<% if(dataSet.course.courseType == 'inperson') { %><%= 'In Person' %><% } %>
				</p>
				<p>
					<b>Class Size:</b>&nbsp;<span style="color: green"><%= dataSet.course.courseMaxStudentCount %></span>
				</p>
				<p>
					<b>Available Seats:</b>&nbsp;<span id="available-seats" style="color: red"><%= dataSet.enrollmentDiff %></span>
			
				</p>
				<p>
					<% if(dataSet.authenticatedUser) { %>
						<input type="hidden" id="cid" name="courseID" value="<%= dataSet.course._id %>" />
						<button onclick="register();" class="btn btn-success">Register For Course &rarr;</button>
					<% } else { %>
						<h5><a href="/user/login">Login/Register to enroll in course</a></h5>
					<% } %>
				</p>
				
			</div>
			
			<div class="span8">
				<div id="error-messages" style="text-align: center;" class="hide alert alert-error"></div>
				<div id="success-messages" style="text-align: center;" class="hide alert alert-success"></div>
				<%-body%>
				
			</div>
      </div>
      <!--/row-->
      
      
      <hr>
      <footer>
        <p>&copy; Technology Grows 2013</p>
        <p></p>
      </footer>
    </div>
    <!--/.container-->
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
      });
      
      	function register() {
	      	var courseID = $("#cid").val();
	      	
			$.post( "/course/register", { courseID: "<%= dataSet.course._id %>" })
			.done(function( data ) {
				if(data.status == 'error') {
					$('#success-messages').hide();
					$('#error-messages').hide();
					$('#error-messages').html("<p>" + data.description + "</p>");
					$('#error-messages').show();
				} else {
					$('#success-messages').hide();
					$('#error-messages').hide();
					$('#success-messages').html("<p>" + data.description + "</p>");
					$('#success-messages').show();
					var seats = Number(<%= dataSet.enrollmentDiff %> - 1);
					$('#available-seats').html(seats);
				}
			});
		}
      
    </script>
  </body>

</html>